#background{
    height: 725px;
    background-color: rgb(0, 60, 255);
    grid-column: 1/11;
    grid-row: 4/9;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width: 100%;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-msg h4{
    color: white;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.book, .join{
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    color: black;
}
.button-box{
    text-align: center;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.card-img{
    border: 10px solid rgb(0, 71, 163);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains{
    width: 100%;
}
.headline{
    font-family: 'Courier New', Courier, monospace;
}
.home-title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}
.icon{
    width: 80px;
    padding: 10px;
}
.logo{
    width: 80px;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    background-color: rgb(187, 187, 187);
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
}
.msg h2{
    color: black;
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

body{
    background-color: rgb(0, 225, 255);
    font-family: "Brush Script MT";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
footer{
    background-color: rgb(0, 60, 255);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
header{
    background-color: rgb(0, 60, 255);
    display: grid;
    grid-template-columns: 150px auto;
}
h4{
    color: black;
}
h2{
    margin: 0;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover, .join:hover{
    background-color: rgb(0, 225, 255);
    color: black;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid{
        display: block;
        height: auto;
    }
    nav, footer{
        flex-direction: column;
    }
    nav a{
        display: block;
        padding: 15px;
    }
    #hero{
        margin-top: 0;
    }
    #hero-msg{
        margin-top: 0;
    }
    #hero-msg h4{
        display: none;
    }
    #hero-msg h1{
        color: #6f7364;
    }
    .home-title{
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card{
        margin: 50px auto;
        width: 60%;
    }
    #background{
        display: none;
    }
    .mountains, .msg{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer{
        margin-top: 25px;
    }
}