body{
    background-color: black;
}

.all{
    background-color: #cfcfcf;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 780px;
    height: 585px;
    margin: 50px auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.departureinfo{
    background-color: #001b36;
    color: #213b56;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 10px;
    padding: 10px;
}

.departureinfo h2{
    color: white;
    font-size: 25px;
    margin: 0 auto;

}
.departureinfo h4{
    font-size: 6.75px;
}
#boardingpass{
    width: 50%;
    background-color: white;
    border-radius: 19px;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    padding: 11px 15px 0px 17px;
    font-size: 10px;
}
header .logo{
    text-align: left;
}
header .name{
    margin-top: 11px;
    color: gray;
}

.plane{
    margin: auto auto;
}

.gate_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #f1f1f1;
    padding: 15px;
}
.gate_info h3{
    font-size: 7px;
    margin: 15px 0px 0px;
}
.gate_info h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin: 0px 0px 15px;
}

footer{
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}
.barcode{
    margin: 15px 15px;
}
.message{
    padding-bottom: 25px;
    font-size: 10px;
    color: gray;
}