body{
    background-color: #0e0e0e;
}

.page{
    background-color: #ebf0f0;
    width: 835px;
    height: 618px;
    margin: 6.25% auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

#everything{
    background-image: url("../images/christus.webp");
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: center;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    border: 5px solid #030000;
    border-radius: 25px;
    text-align: center;
    color: white;
}

header{
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
}
header div{
    grid-column: 2/-2;
    font-size: 27px;
    margin-top: 5px;
}
.first_presidency{
    grid-column: 2/-2;
}
.first_presidency img{
    border: 7px solid #fefdff;
    border-radius: 500px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center 10%;
    margin: 5px;
}
.first_presidency img:hover{
    border-color: black;
}
.counselor{
    width: 13%;
}
.president{
    width: 15%;
}

main{
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    grid-gap: 10px;
}
main div{
    grid-column: 2/-2;
    margin: 0 auto;
    font-size: 18px;
}
main section{
    grid-column: 2/-2;
}
main img{
    border: 7px solid #fefdff;
    border-radius: 500px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center 10%;
    width: 10%;
    margin: 7px;
}
main img:hover{
    border-color: black;
}