/* Add your CSS here to style your halloween page */

body{
    background-color: black;
    color: white;
    font-family: fantasy;
}

header ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    text-align: center;
    gap: 5px;
}

header{
    font-size: 2em;
}
header li:hover{
    color: red;
    background-color: gray;
    cursor: pointer;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "title title"
        "image section1"
        "image section2"
        "image section3";
}
main h1{
    grid-column: 1/-1;
    grid-area: title;
    font-size: 5em;
    text-align: center;
}
main img{
    grid-area: image;
}
main section:nth-child(1){
    grid-area: section1;
}
main section:nth-child(2){
    grid-area: section2;
}
main section:nth-child(3){
    grid-area: section3;
}

footer{
    text-align: right;
    color: rgb(206, 206, 206);
    font-size: .5rem;
}