body{
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    margin: 0 auto;

    display: flex;
    justify-content: center;

    width: 30%;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgb(128, 128, 128, .5);
}